
body {
  background-color: black;
}

h1 {
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  margin: 1em;
}


p {
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  margin: 1em;
}
