p {
  color:white;
  background-color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:20px;
  border:20px;
  border-style:dashed;
  border-color: red;
  padding: 20px;
}
