
body {
  background-color: black;
}

h1 {
  color:white;
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


p {
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.buttonClass {
  font-size: 1em;
}

