.menuHeading {
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:magenta;
    text-shadow: 3px 3px 0 cyan, 10px 10px 10px grey;
}

.menuText,.menuMultiplicationTableList, .menuButton, .menuInput
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em;
    color:black;
}

.menuText {
    margin: 10px;
}

.menuMultiplicationTableList { 
    margin: 20px;
    list-style: none;
}

.menuInput {
    font-size: 1em;
    width: 2em;
}

.menuButton {
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.menuYes {
    color: green;
}

.menuNo{
    color: red;
}
