.menuHeading {
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    text-shadow: 3px 3px yellow, 10px 10px 10px orange;
}

.menuText,.menuButton, .menuInput, .menuInputError, .menuLabel
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em;
    color:black;
}

.menuLabel {
    display:inline-block;
    width:12em;
    margin: 10px;
}

.menuText {
    margin: 10px;
}

.menuInput {
    background-color: white;
    width: 3em;
}

.menuInputError {
    background-color: red;
    width: 3em;
}

.menuButton {
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.numberDisplay {
    font-size:3em;
    font-family: 'Courier New', Courier, monospace;text-align: center;
    text-align: center;
}





